<div class="row justify-content-center">
  <div class="col-md-4 col-sm-10">

    <div class="card">
      <div class="card-body">
        <h1 class="card-title" style="text-align:center">{{language.login.titleLogin}}</h1>

        <div *ngIf="loading; else form">
          <app-loading></app-loading>
        </div>

        <ng-template #form>
          <div *ngIf="loginForm; else forgotForm">
            <app-login [loading]="false" (submitForm)="onSubmit($event)">
              <a class="small-ng-content forgot-link float-right" (click)="loginForm = false;clearAlert();">{{language.login.forgotText}}</a>
            </app-login>
          </div>

          <ng-template #forgotForm>
            <app-forgot (submitForm)="onSubmitForgot($event)" (back)="loginForm = true;clearAlert();"></app-forgot>
          </ng-template>

          <br>

          <div class="row">
            <div class="col-md-12">
              <alert *ngIf="alert" [type]="alert.type">
                <strong>{{alert.strong}}</strong> {{alert.message}}
              </alert>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<br>
