<form [formGroup]="loginF">
  <div class="form-group">
    <input bs-input bs-validator [errors]="errors.email" [label]="language.login.forms.email" formControlName="email" type="email" class="form-control"
      [placeholder]="language.login.forms.email">
  </div>
  <div class="form-group">
    <input bs-input [label]="language.login.forms.password" formControlName="password" type="password" class="form-control" [placeholder]="language.login.forms.password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input formControlName="save" type="checkbox" class="form-check-input"> {{language.login.forms.checkboxSave}}
    </label>
  </div>

  <ng-content select=".forgot-link"></ng-content>
  <br>
  <br>

  <app-loading *ngIf="loading; else sub"></app-loading>
  <ng-template #sub>
    <button type="submit" class="btn btn-primary form-control" (click)="submitEvent()">{{language.login.buttonEnter}}</button>
  </ng-template>
</form>
