<form [formGroup]="loginF">
    <div class="form-group">
        <label for="exampleInputEmail1">Endereço de E-mail</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Entre com seu e-mail">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Senha">
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input formControlName="save" type="checkbox" class="form-check-input"> Salvar email
        </label>
    </div>
    <br>

    <app-loading *ngIf="loading; else sub"></app-loading>
    <ng-template #sub>
        <button type="submit" class="btn btn-primary form-control" (click)="submitEvent()">Entrar</button>
    </ng-template>
</form>