<div class="row">
  <div class="col-md-12" id="img-forgot">
    <img src="assets/img/email-forgot.png" alt="">
  </div>
</div>

<h4>Forgot Password</h4>

<div class="row">
  <div class="col-md-12">
    Please enter your email address to retrieve your password. We will email you a link to answer the challenge question you
    selected.
  </div>
</div>

<br>

<form [formGroup]="form">
  <div class="form-group">
    <input bs-input bs-validator id="email" [errors]="errors.email" [label]="'E-mail to send'" formControlName="email" type="email" placeholder="Entry to your email"
      ngModel>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default float-right" (click)="backPage()">Voltar</a>
    <button [disabled]="!form.valid" class="btn btn-primary float-right" (click)="submit()">Send</button>
  </div>
</div>
